h2{
    color:rgb(183, 0, 255)

}
.intro{
    background-color: pink;
}
.chameleon{
    background-color: powderblue;
}
.facts1{
    background-color: plum;
}
.panda{
    background-color: powderblue;
}
.facts2{
    background-color: plum;
}
